#first {
  position: fixed;
  top: 5em;
  left: 5em;
  right: 5em;
  bottom: 5em;
  box-shadow: 0 0 33px rgb(0,0,0,0.2);
  overflow: hidden;
  border-radius: .3em;
}
#second {
  z-index: 26;
}
#third {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: #4a4a4a;
  padding-top: 5em;
}