.none {
    display: none;
}
.tampil {
    display: block;
}
#hmm {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 10px;
}
#hmmm {
    float: right;
}
#bintg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.dilngt {
    padding: 10px;
}
.dilngt button {

    padding: 5px 10px;
    border-radius: 1rem;
    border: 1px solid #2e2e2e;
    font-family: sans-serif;
    font-size: 14px;

}